body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -2; 
}


.header {
    position: sticky;
    top: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(#080404, #0180c7);
    color: white;
    z-index: 10;
}

.left-bar {
    display: flex;
    flex-direction: row;
}

.title {
    margin-left: 100px;
    margin-right: 75px;
}

.title {
    font-size: 35px;
}

#audioController {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 100%;
    margin: 0 1em 0 2em;
    transition: 0.3s;
}

#audioController:hover {
    transform: scale(1.30);
}

.topnav {
    position: relative;
    color: white;
    width: 27em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 2.5vw;
    font-size: 22px;
}

.topnav.show {
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 4;
    padding: 1.5em 0;
    top: 3.4em;
    width: 10em;
    right: -0.42em;
    background: rgba(0, 0, 0, 0.9);
}

.topnav a {
    transition: 0.3s;
}

.topnav a:hover {
    transform: scale(1.05);
}

.menuHamburger {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    right: 2vw;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}


.menuHamburgerBtn {
    width: 25px;
    height: 2.5px;
    background: #fff;
    border-radius: 2px;
    transition: all .25s ease-in-out;
}

.menuHamburgerBtn::before, .menuHamburgerBtn::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2.5px;
    background: #fff;
    border-radius: 2px;
    transition: all .25s ease-in-out;
}

.menuHamburgerBtn::before {
    transform: translateY(-10px);
}

.menuHamburgerBtn::after {
    transform: translateY(10px);
}

.menuHamburger.open .menuHamburgerBtn {
    transform: translateX(-50px);
    background: transparent;
}

.menuHamburger.open .menuHamburgerBtn:before {
    transform: rotate(45deg) translate(35px, -35px);

}

.menuHamburger.open .menuHamburgerBtn:after {
    transform: rotate(-45deg) translate(35px, 35px);
    
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

.layer1 {
    position: relative;
}

.layer1container {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 50px;
    padding: 80px;
    background-color: #1f293796;
    border-radius: 20px;
}

.layer1-left {
    margin: 65px 100px 65px 50px;
    display: flex;
    flex-direction: column;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 15px;
    font-weight: bold;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
} 

.layer1button {
    background-color: azure;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 18px;
    padding: 14px;
    width: 120px;
    height: 60px;
    transition: 0.3s;
}

.layer1button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(0, 0, 0); 
}

.layer1-right {
    margin-right: 50px;
}

.layer1-img {
    width: 700px;
    height: auto;
    border-radius: 10px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.layer2container {
    padding: 25px;
    text-align: center;
    position: relative;
    background-image: linear-gradient(#080404, #0180c7);
    box-shadow: 5px 0px 50px;
}

.layer2header {
    font-size: 36px;
    color: #E5E7EB;
    margin-bottom: 32px;
}

.layer2info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.lloydimage, .elieimage, .tioimage, .randyimage {
    width: 16em;
    height: auto;
    border: 5px solid gainsboro;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 15px 25px black;
    transition: 0.3s;
}

.lloydsubtext, .eliesubtext, .tiosubtext, .randysubtext {
    margin-top: 16px;
    font-size: 20px;
    color: #E5E7EB;
}

.lloydimage:hover, .elieimage:hover, .tioimage:hover, .randyimage:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(0, 0, 0);
}

.layer3 {
    background-image: url('../images/sky.png');
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer3container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
    gap: 16px;
    background-color: #1f293796;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.layer3text {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    font-size: 36px;
    gap: 16px;
    text-shadow: black 2px 5px 2px;
}

.layer3qouteend {
    text-align: end;
}

.layer3image {
    width: 200px;
    height: auto;
    filter: drop-shadow(6px 10px 2px rgb(0, 0, 0));
}


.footer {
    background-image: url('../images/sky_banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 50%;
    object-fit: cover;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.footertext {
    padding: 10px 0px 0px 0px;
    font-size: 28px;
    font-weight: lighter;
    font-style: italic;
    color: white;
    text-decoration: none;
    position: relative;
}

.footertext:hover {
    color: white;
    text-decoration: none;
}

.footertext::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.footertext:hover::before {
    transform: scaleX(1);
}

.footerimage {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

@media (max-width: 1100px) {
    .layer1container {
        flex-direction: column;
    }
}

@media (max-width: 940px) {
    
}

@media (max-width: 860px) {
    .topnav {
        display: none;
    }
    .menuHamburger {
        display: flex;
    }
    .headerBar {
        width: 100vw;
    }
    .layer1Caption, .layer1Source {
        font-size: 0.9em;
        text-align: center;
    }
    .layer1-right {
        display: flex;
        justify-content: flex-end;
        margin-right: 7vw;
    }
    .layer1-img {
        width: 70vw;
    }
}

@media (min-width: 861px) {
    .topnav {
        position: relative;
        color: white;
        width: 27em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 2.6vw;
    }
    .topnav.show {
        display: flex;
        position: relative;
        flex-direction: row;
        z-index: 4;
        height: 0em;
        margin-top: -6.6em;
        width: 27em;
        background: transparent;
    }
}

.scrollingtext{
    position:absolute;
    white-space:nowrap;
    font-family:'Trebuchet MS',Arial;
    font-size:18px;
    font-weight:bold;
    color:#000000;
}